body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.wrapper{
    display:flex;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}
.container {
    margin-left: 20px; /* Ajusta esto para hacer espacio para el menú lateral */
    padding: 20px;
    max-width: calc(100% - 220px); /* Ajusta el ancho disponible */
    background-color: white;
    border: 2px solid #ddd; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    flex: 1; /* Permite que el contenedor ocupe el espacio restante */
    box-sizing: border-box; /* Incluye el padding y border en el width */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Tema oscuro */
.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}
.dark-theme header {
    background-color: #222;
}
.dark-theme nav a {
    color: #f4f4f4;
}
.dark-theme .container {
    background-color: #444;
}
.dark-theme footer {
    background-color: #222;
}

/* Estilos para el botón de volver a inicio */
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

/* Añadir estas clases al final del archivo styles.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}

.grid-container img {
    width: 50%;
    height: auto;
    border: 2px solid #ddd; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
